.about-us 
  .center-wrap 
    .about-us__wrap 
      .double-grid 
        .double-grid__left
        .double-grid__right 
          .content 
            h2
              |о нас
            p 
              |Компания «Трансфер на Буковель» – это команда высококвалифицированных специалистов, которые обеспечат для Вас комфортабельный трансфер Львов Буковель. 
            p 
              |Многолетний опыт работы и использование эффективной стратегии клиент-менеджер, позволили нам гарантировать высокий сервис оказываемых нами услуг.
            br
            p 
              |Компания Трансфер на Буковель предлагает широкий выбор автомобилей и микроавтобусов/автобусов для комфортабельной и безопасной поездки в самые разные уголки Западного региона. 
            p 
              |Автопарк нашей компании насчитывает более десятка современных мини-венов известных брендов, которые быстро доставят Вас в необходимый пункт назначения.