footer.footer
  .center-wrap
    .footer__top
      .footer__top-left
        a(href="index.html").footer__logo
          img(src='assets/images/png/logo.png' alt='logo')
        p.footer__left-info Компания «Трансфер на Буковель» предоставляет комфортабельные пассажирские перевозки
        a.footer__pay(href="index.html")
          img(src='assets/images/png/footer-visa.png' alt='logo')
      .footer__top-right
        .footer__column
          p.footer__list-title Услуги
          ul.footer__list
            li.footer__item
              a(href="index.html") Трансфер на Буковель
            li.footer__item
              a(href="index.html") Львов-Буковель
            li.footer__item
              a(href="index.html") Киев-Буковель
            li.footer__item
              a(href="index.html") Трансфер на Трускавец
        .footer__column
          p.footer__list-title Клиенту
          ul.footer__list
            li.footer__item
              a(href="index.html") О нас 
            li.footer__item
              a(href="index.html") Vip услуги
            li.footer__item
              a(href="index.html") Бронирование и оплата
            li.footer__item
              a(href="index.html") Политика конфиденциальности
        .footer__column
          p.footer__list-title Контактные данные
          p.footer__adress г. Ивано-Франковск, <br> ул. Мазепы, 5, оф. 1
          ul.footer__socials
            li.footer__social
              a(href="", target="_blank")
                img
            li.footer__social
              a(href="", target="_blank")
                img 
    .footer__bottom
      p Transfer Bukovel © 2021
      p Политика конфиденциальности 