footer.footer
  .center-wrap
    .footer__top
      .footer__top-left
        a(href="index.html").footer__logo
          img(src='assets/images/png/logo-black.png' alt='logo')
        p.footer__left-info Компания «Трансфер на Буковель» предоставляет комфортабельные пассажирские перевозки
        a.footer__pay(href="index.html")
          img(src='assets/images/png/footer-visa.png' alt='pay')
      .footer__top-right
        .footer__column
          p.footer__list-title Услуги
          ul.footer__list
            li.footer__item
              a(href="index.html") Трансфер на Буковель
            li.footer__item
              a(href="index.html") Львов-Буковель
            li.footer__item
              a(href="index.html") Киев-Буковель
            li.footer__item
              a(href="index.html") Трансфер на Трускавец
        .footer__column
          p.footer__list-title Клиенту
          ul.footer__list
            li.footer__item
              a(href="index.html") О нас 
            li.footer__item
              a(href="index.html") Vip услуги
            li.footer__item
              a(href="index.html") Бронирование и оплата
            li.footer__item
              a(href="index.html") Политика конфиденциальности
        .footer__column
          p.footer__list-title Контактные данные
          p.footer__adress г. Ивано-Франковск, <br> ул. Мазепы, 5, оф. 1
          ul.footer__socials
            li.footer__social
              a.footer__social-hover(href="#", target="_blank")
               svg(width='41' height='40' viewbox='0 0 41 40' fill='none' xmlns='http://www.w3.org/2000/svg')
                rect.fill(x='1' y='0.5' width='39' height='39' rx='19.5' fill='white')
                rect(x='1' y='0.5' width='39' height='39' rx='19.5' stroke='#EC1C24')
                path(d='M25.1234 10.004L22.7249 10C20.0302 10 18.2888 11.8353 18.2888 14.6759V16.8318H15.8771C15.6688 16.8318 15.5 17.0054 15.5 17.2195V20.3431C15.5 20.5572 15.6689 20.7306 15.8771 20.7306H18.2888V28.6126C18.2888 28.8267 18.4575 29 18.6659 29H21.8124C22.0208 29 22.1896 28.8265 22.1896 28.6126V20.7306H25.0093C25.2177 20.7306 25.3865 20.5572 25.3865 20.3431L25.3876 17.2195C25.3876 17.1167 25.3478 17.0182 25.2772 16.9455C25.2066 16.8728 25.1103 16.8318 25.0103 16.8318H22.1896V15.0042C22.1896 14.1258 22.3933 13.6799 23.5073 13.6799L25.123 13.6793C25.3312 13.6793 25.5 13.5058 25.5 13.2919V10.3914C25.5 10.1777 25.3314 10.0043 25.1234 10.004Z' fill='#EC1C24')
            li.footer__social
              a.footer__social-hover(href="#", target="_blank")
                  svg(width='41' height='40' viewbox='0 0 41 40' fill='none' xmlns='http://www.w3.org/2000/svg')
                    g(opacity='0.99')
                      rect.fill(x='1' y='0.5' width='39' height='39' rx='19.5' fill='white')
                      rect(x='1' y='0.5' width='39' height='39' rx='19.5' stroke='#EC1C24')
                    path(d='M24.8983 11H17.1017C14.5643 11 12.5 13.0643 12.5 15.6017V23.3984C12.5 25.9357 14.5643 28 17.1017 28H24.8984C27.4357 28 29.5 25.9357 29.5 23.3984V15.6017C29.5 13.0643 27.4357 11 24.8983 11V11ZM21 24.1483C18.4369 24.1483 16.3517 22.0631 16.3517 19.5C16.3517 16.9369 18.4369 14.8517 21 14.8517C23.5631 14.8517 25.6483 16.9369 25.6483 19.5C25.6483 22.0631 23.5631 24.1483 21 24.1483ZM25.7595 15.9479C25.002 15.9479 24.3859 15.3318 24.3859 14.5744C24.3859 13.8169 25.002 13.2007 25.7595 13.2007C26.5169 13.2007 27.1331 13.8169 27.1331 14.5744C27.1331 15.3318 26.5169 15.9479 25.7595 15.9479Z' fill='#EC1C24')
                    path(d='M21 16C19.0702 16 17.5 17.5701 17.5 19.5C17.5 21.4298 19.0702 23 21 23C22.9299 23 24.5 21.4298 24.5 19.5C24.5 17.5701 22.9299 16 21 16Z' fill='#EC1C24')
                    path(d='M25.9999 14C25.7243 14 25.5 14.2244 25.5 14.5C25.5 14.7756 25.7243 15 25.9999 15C26.2757 15 26.5 14.7758 26.5 14.5C26.5 14.2242 26.2757 14 25.9999 14Z' fill='#EC1C24')
    .footer__bottom
      p Transfer Bukovel © 2021
      p Политика конфиденциальности 