header.header  
  .center-wrap
    .header__wrap
      a(href="index.html").header__logo
        img(src="assets/images/png/logo.png", alt="") 
      nav.header__nav 
        ul.header__nav-list
          li.header__nav-item 
            a(href="#").header__nav-link.drop-down__btn
              |Трансферы
              span 
                img(src="assets/images/svg/icon-white-arrow.svg", alt="")
            ul.header__drop-down 
              li.header__drop-down-item
                a(href="#").header__drop-down-link
                  |lorem lorem
              li.header__drop-down-item
                a(href="#").header__drop-down-link
                  |lorem 
              li.header__drop-down-item
                a(href="#").header__drop-down-link
                  |lorem 
              li.header__drop-down-item
                a(href="#").header__drop-down-link
                  |lorem 
          li.header__nav-item 
            a(href="#").header__nav-link
              |цены
          li.header__nav-item 
            a(href="#").header__nav-link
              |автобусы
          li.header__nav-item 
            a(href="#").header__nav-link
              |Vip
          li.header__nav-item 
            a(href="#").header__nav-link
              |о нас
          li.header__nav-item 
            a(href="#").header__nav-link
              |Контакты
          li.header__nav-item 
            a(href="#").header__nav-link.drop-down__btn
              |ru
              span 
                img(src="assets/images/svg/icon-white-arrow.svg", alt="")
            ul.header__drop-down 
              li.header__drop-down-item
                a(href="#").header__drop-down-link
                  |lorem
              li.header__drop-down-item
                a(href="#").header__drop-down-link
                  |lorem 
              li.header__drop-down-item
                a(href="#").header__drop-down-link
                  |lorem 
              li.header__drop-down-item
                a(href="#").header__drop-down-link
                  |lorem 
            