header.header  
  .center-wrap
    .header__wrap
      a(href="index.html").header__logo
        img(src="assets/images/png/logo.png", alt="") 
      nav.header__nav 
        ul.header__nav-list
          li.header__nav-item 
            a(href="#").header__nav-link
              |Трансферы
          li.header__nav-item 
            a(href="#").header__nav-link
              |цены
          li.header__nav-item 
            a(href="#").header__nav-link
              |автобусы
          li.header__nav-item 
            a(href="#").header__nav-link
              |Vip
          li.header__nav-item 
            a(href="#").header__nav-link
              |о нас
          li.header__nav-item 
            a(href="#").header__nav-link
              |Контакты
          li.header__nav-item 
            a(href="#").header__nav-link
              |ru
            