section.product 
  .center-wrap
    h2.product-title.simple-title <strong>ВЫБЕРИТЕ</strong> <br> АВТО ДЛЯ ТРАНСФЕРА
    .product__top-list
        .product__top-item.btn.btn-white.btn-white--active пОКАЗАТЬ ВСЕ
        .product__top-item.btn.btn-white 4Х4
        .product__top-item.btn.btn-white лЕГКОВЫЕ
        .product__top-item.btn.btn-white мИКРОАВТОБУСЫ
    .product__list
        .product__card
              .product__card-img
                  img(src="assets/images/png/product-cart.png", alt="car") 
              .product__card-title Audi Q7
              .product__card-address 
                  img(src="assets/images/svg/product-adress.svg", alt="address") 
                  p Буковель, Львов; Ивано-Франсковск
              .product__card-wrap
                  .product__card-info
                      img(src="assets/images/svg/product-bag.svg", alt="bag") 
                      p 3 багажа 
                  .product__card-info
                      img(src="assets/images/svg/product-people.svg", alt="people")
                      p 3 пассажира 
              .product__card-bottom
                  .product__card-price <span> от </span> 1400 грн
                  button.product__card-btn.btn бронь
        .product__card
            .product__card-img
                img(src="assets/images/png/product-cart.png", alt="car") 
            .product__card-title Audi Q7
            .product__card-address 
                img(src="assets/images/svg/product-adress.svg", alt="address") 
                p Буковель, Львов; Ивано-Франсковск
            .product__card-wrap
                .product__card-info
                    img(src="assets/images/svg/product-bag.svg", alt="bag") 
                    p 3 багажа 
                .product__card-info
                    img(src="assets/images/svg/product-people.svg", alt="people")
                    p 3 пассажира 
            .product__card-bottom
                .product__card-price <span> от </span> 1400 грн
                button.product__card-btn.btn бронь
        .product__card
            .product__card-img
                img(src="assets/images/png/product-cart.png", alt="car") 
            .product__card-title Audi Q7
            .product__card-address 
                img(src="assets/images/svg/product-adress.svg", alt="address") 
                p Буковель, Львов; Ивано-Франсковск
            .product__card-wrap
                .product__card-info
                    img(src="assets/images/svg/product-bag.svg", alt="bag") 
                    p 3 багажа 
                .product__card-info
                    img(src="assets/images/svg/product-people.svg", alt="people")
                    p 3 пассажира 
            .product__card-bottom
                .product__card-price <span> от </span> 1400 грн
                button.product__card-btn.btn бронь       
        .product__card
            .product__card-img
                img(src="assets/images/png/product-cart.png", alt="car") 
            .product__card-title Audi Q7
            .product__card-address 
                img(src="assets/images/svg/product-adress.svg", alt="address") 
                p Буковель, Львов; Ивано-Франсковск
            .product__card-wrap
                .product__card-info
                    img(src="assets/images/svg/product-bag.svg", alt="bag") 
                    p 3 багажа 
                .product__card-info
                    img(src="assets/images/svg/product-people.svg", alt="people")
                    p 3 пассажира 
            .product__card-bottom
                .product__card-price <span> от </span> 1400 грн
                .product__card-btn.btn бронь
        .product__card
            .product__card-img
                img(src="assets/images/png/product-cart.png", alt="car") 
            .product__card-title Audi Q7
            .product__card-address 
                img(src="assets/images/svg/product-adress.svg", alt="address") 
                p Буковель, Львов; Ивано-Франсковск
            .product__card-wrap
                .product__card-info
                    img(src="assets/images/svg/product-bag.svg", alt="bag") 
                    p 3 багажа 
                .product__card-info
                    img(src="assets/images/svg/product-people.svg", alt="people")
                    p 3 пассажира 
            .product__card-bottom
                .product__card-price <span> от </span> 1400 грн
                button.product__card-btn.btn бронь      
        .product__card.product__card-hidden
    button.product__btn.btn пОКАЗАТЬ больше