section.reviews
    .center-wrap
        h2.reviews__title.simple-title отзывы более 1000 <br> довольных пассажиров
    .reviews-slider
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .reviews-slider__item
                            .reviews-slider__title Дмитрий
                            .reviews-slider__text Просто высший класс. Очень приятно иметь дело с людьми, которые любят свою работу и рады выполнять ее на уровне. А еще есть ощущение...
                            p.reviews-slider__more Читать далее
                    .swiper-slide
                        .reviews-slider__item
                            .reviews-slider__title Дмитрий
                            .reviews-slider__text Просто высший класс. Очень приятно иметь дело с людьми, которые любят свою работу и рады выполнять ее на уровне. А еще есть ощущение...
                            p.reviews-slider__more Читать далее
                    .swiper-slide
                        .reviews-slider__item
                            .reviews-slider__title Дмитрий
                            .reviews-slider__text Просто высший класс. Очень приятно иметь дело с людьми, которые любят свою работу и рады выполнять ее на уровне. А еще есть ощущение...
                            p.reviews-slider__more Читать далее
                    .swiper-slide
                        .reviews-slider__item
                            .reviews-slider__title Дмитрий
                            .reviews-slider__text Просто высший класс. Очень приятно иметь дело с людьми, которые любят свою работу и рады выполнять ее на уровне. А еще есть ощущение...
                            p.reviews-slider__more Читать далее
                    .swiper-slide
                        .reviews-slider__item
                            .reviews-slider__title Дмитрий
                            .reviews-slider__text Просто высший класс. Очень приятно иметь дело с людьми, которые любят свою работу и рады выполнять ее на уровне. А еще есть ощущение...
                            p.reviews-slider__more Читать далее
                    .swiper-slide
            .center-wrap
              .swiper-button  
                  .slider-btn--prev.slider-btn
                      svg(width='55' height='55' viewbox='0 0 55 55' fill='none' xmlns='http://www.w3.org/2000/svg')
                          circle(cx='27.5' cy='27.5' r='27.5' fill='white')
                          path(d='M23.6411 28.4088L28.0733 32.8409C28.1758 32.9435 28.3127 33 28.4586 33C28.6045 33 28.7413 32.9435 28.8439 32.8409L29.1703 32.5146C29.3826 32.3019 29.3826 31.9563 29.1703 31.744L25.4484 28.0222L29.1744 24.2963C29.2769 24.1937 29.3335 24.0569 29.3335 23.9111C29.3335 23.7651 29.2769 23.6283 29.1744 23.5257L28.848 23.1994C28.7454 23.0968 28.6086 23.0403 28.4627 23.0403C28.3168 23.0403 28.18 23.0968 28.0775 23.1994L23.6411 27.6356C23.5384 27.7385 23.4819 27.8759 23.4823 28.022C23.4819 28.1686 23.5384 28.306 23.6411 28.4088Z' fill='#343434')
                  .slider-btn--next.slider-btn
                      svg(width='55' height='55' viewbox='0 0 55 55' fill='none' xmlns='http://www.w3.org/2000/svg')
                          circle(cx='27.5' cy='27.5' r='27.5' transform='rotate(-180 27.5 27.5)' fill='white')
                          path(d='M31.3589 26.5912L26.9267 22.1591C26.8242 22.0565 26.6873 22 26.5414 22C26.3955 22 26.2587 22.0565 26.1561 22.1591L25.8297 22.4854C25.6174 22.6981 25.6174 23.0437 25.8297 23.256L29.5516 26.9778L25.8256 30.7037C25.7231 30.8063 25.6665 30.9431 25.6665 31.0889C25.6665 31.2349 25.7231 31.3717 25.8256 31.4743L26.152 31.8006C26.2546 31.9032 26.3914 31.9597 26.5373 31.9597C26.6832 31.9597 26.82 31.9032 26.9225 31.8006L31.3589 27.3644C31.4616 27.2615 31.5181 27.1241 31.5177 26.978C31.5181 26.8314 31.4616 26.694 31.3589 26.5912Z' fill='#343434')
