.btn {
	border: none;
	cursor: pointer;
	text-decoration: none;
	line-height: 7rem;
	display: inline-block;
	white-space: nowrap;
	text-align: center;
	background: $secondary-color;
	font-weight: bold;
	padding: 0 5rem;
	transition: all 0.5s;
	color: #fff;
	font-size: 1.6rem;
	text-transform: uppercase;
	font-family: $primary-font;
	border: 1px solid rgba($secondary-color, 0);
    border-radius: 50px;

    &.min-btn {
        font-size: 1.4rem;
        line-height: 4.5rem;
    }

	@media screen and (max-width:$large_tablet) {
		line-height: 6.2rem;
	}

	@media screen and (max-width:$large_tablet) {
		font-size: 1.8rem;
	}

	&:hover {
		background-color: transparent;
		color: $secondary-color;
		border: 1px solid $secondary-color;
	}

	&--size {
		padding: 0 7rem;
	}

	&--empty {
		background-color: inherit;
		color: $secondary-color;
		border: 1px solid $secondary-color;

		&:hover {
			border: 1px solid rgba($secondary-color, 0);
			background-color: $secondary-color;
			color: #fff;
		}
	}
}