// Font
$primary-font:'Gilroy',
sans-serif;

// Color
$secondary-color:#EC1C24;
$primary-color:#343434;
$simple-color:#050505;

$bg-blocks:#F8F8F8;
// $gray--dark:#444C58;
// $gray--light:#B3BAC4;
// $gray--lightest:#E8EAED;
// $color-danger: #EB5757;

$white--darken:#F2F2F2;
$bg:#F6F6F6;

// Media
$large_desktop: 1330px;
$large_tablet: 1023px;
$large_mobile: 420px;
