extends ../layout/main

append variables
	//- - var title = 'A&T - Разработка сайтов';
	//- - var pageClass = 'index-page';

block content
	+title-block({title:'Трансфер на Буковель',sub_title:'Поездки на комфортном автомобиле. Заказ без предоплаты'})
