extends ../layout/main

append variables
  //- - var title = 'A&T - Разработка сайтов';
  //- - var pageClass = 'index-page';

block content
  include ../includes/about-us
  .txt-block 
    .center-wrap 
      .txt-block__wrap
        h2.primary-title 
          |ОСНОВНЫЕ УСЛУГИ ПЕРЕВОЗОК КОМПАНИИ «ТРАНСФЕР НА БУКОВЕЛЬ»
        .double-grid
          .double-grid__left 
            .content 
              p 
                |<strong>Благодаря компании «Трансфер на Буковель»</strong> Вы с легкостью попадете в любую точку Западного региона. Поездка в Буковель со Львова станет для Вас истинным удобным праздником, который подарит море приятных и незабываемых впечатлений.
              p 
                |Кроме того, <strong>с компанией «Трансфер на Буковель» Вы так же сможете</strong> заказать трансфер Драгобрат Ясиня либо трансфер Ясиня Буковель. Компания «Трансфер на Буковель» поможет реализовать путешествие на любой вкус.
              p 
                |Для того, что бы ехать в Карпаты не обязательно использовать собственное транспортное средство. <strong>Благодаря высококвалифицированным водителям Ваше путешествие будет максимально удобным и безопасным.</strong> Именно наши водители знают, как доехать до Буковеля быстро и по самым живописным, панорамным дорогам. 
              p 
                |Для того, чтобы заказать авто в Буковель достаточно только связаться с менеджерами компании «Трансфер на Буковель».  В зависимости от Ваших пожеланий и количества путешественников, <strong>специалисты компании «Трансфер на Буковель» подберут для Вас один из наиболее подходящих вариантов транспортного средства.</strong>
          .double-grid__right 
            .txt__list
              ul.txt__list-list
                li.txt__list-item 
                  |Проезд в аэропорт Львов
                li.txt__list-item 
                  |Трансфер по Западной и Центральной Украине
                li.txt__list-item 
                  |Трансфер от вокзала до Буковеля;
                li.txt__list-item 
                  |Трансфер сотрудников на корпоратив;
                li.txt__list-item 
                  |Трансфер гостей на торжественное событие;
                li.txt__list-item 
                  |Выезд за клиентом в любую точку Западной Украины;
                li.txt__list-item 
                  |Оформление индивидуальных заказов;
                li.txt__list-item 
                  |Возможность воспользоваться услугой наемный водитель Карпаты;
                li.txt__list-item 
                  |Безопасные пассажирские перевозки в Карпатах для малых и больших групп людей.
              a(href="#").btn 
                |Заказать трансфер 
  .txt-block
    .center-wrap 
      .txt-block__wrap
        h2.primary-title 
          |МАРШРУТНОЕ ТАКСИ ТРУСКАВЕЦ-СХОДНИЦА ПУТЕШЕСТВУЕМ КОМФОРТНО И ВЫГОДНО!
        .double-grid.double-grid--mb
          .double-grid__left 
            .content 
              p 
                |<strong>Благодаря компании «Трансфер на Буковель»</strong> Вы с легкостью попадете в любую точку Западного региона. Поездка в Буковель со Львова станет для Вас истинным удобным праздником, который подарит море приятных и незабываемых впечатлений.
          .double-grid__right
            .content 
              p 
                |<strong>Благодаря компании «Трансфер на Буковель»</strong> Вы с легкостью попадете в любую точку Западного региона. Поездка в Буковель со Львова станет для Вас истинным удобным праздником, который подарит море приятных и незабываемых впечатлений.
        .img-wrap.block-img
          div 
            img(src="assets/images/png/img-block-1.png", alt="")
        .content 
          p 
            |С компанией «Трансфер на Буковель» Вы не только сможете заказать новую и удобную машину, но и квалифицированного водителя. Западная Украина славится своими известными горнолыжными курортами, чистейшими реками и озерами, которые более чем привлекают внимание путешественников. Благодаря правильно спланированному трансферу до необходимой базы отдыха либо живописной поляны, обеспечивается успешное начало любого путешествия. Теперь не следует беспокоиться о качестве дорог либо о вместительности автомобиля.
          p 
            |Широкий ассортимент современных автомобилей для удачной поездки Вы найдете у компании «Трансфер на Буковель«. Пассажирские перевозки – это качественно новое решение для организации увлекательного досуга. С каждым годом все больше туристов со всего мира выбирают именно комфортабельный трансфер в живописные уголки Западного региона.Водитель до Буковеля. Это оптимальное решение для удачного отдыха. Вы не только сможете наблюдать удивительно красивые панорамные виды Западного региона, но и ехать по самым безопасным и проверенным маршрутам горных дорог. Высокая квалификация водителей позволяет безопасное путешествие в любой уголок Украинских Карпат, как в зимнее время года, так и в летний период.
  .txt-block 
    .center-wrap 
      .table
        h3.table-title
          |Расписание маршруток Буковель - Ивано- Франковск
        table
          thead 
            tr 
              th
              th 
                |Направление
          tbody 
            tr 
              td 
                |05:20
              td 
                |Буковель-Ивано-Франковск	
            tr 
              td 
                |05:20
              td 
                |Буковель-Ивано-Франковск
            tr 
              td 
                |05:20
              td 
                |Буковель-Ивано-Франковск
            tr 
              td 
                |05:20
              td 
                |Буковель-Ивано-Франковск